<app-header title="Ajouter une oeuvre"></app-header>

<ion-content>
    <form #artForm="ngForm" (ngSubmit)="save()">
        <ion-item>
            <ion-label position="floating">Nom de l'oeuvre</ion-label>
            <ion-input [(ngModel)]="art.name" name="name" required minlength="3" maxlength="60" #name="ngModel">
            </ion-input>
        </ion-item>
        <app-error *ngIf="!name.valid && name.touched" message="Vous devez saisir un nom entre 3 et 60 caractères">
        </app-error>

        <ion-item>
            <ion-label position="floating">URL de l'image</ion-label>
            <ion-input [(ngModel)]="art.picture" name="picture" required pattern="https://.*" #picture="ngModel">
            </ion-input>
        </ion-item>
        <app-error *ngIf="!picture.valid && picture.touched" message="Vous devez saisir une URL valide"></app-error>


        <ion-button type="submit" size="large" [disabled]="!artForm.form.valid">Ajouter</ion-button>
    </form>
</ion-content>